@charset utf-8; /* stylelint-disable-line css-identifierexpected */
@font-face {
	font-family: 'Mulish';
	src: url('/static/fonts/Mulish-VariableFont_wght.ttf');
	src: url('/static/fonts/Mulish-VariableFont_wght.ttf.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Mulish-VariableFont_wght.ttf.woff') format('woff'),
		url('/static/fonts/Mulish-VariableFont_wght.ttf.ttf') format('truetype'),
		url('/static/fonts/Mulish-VariableFont_wght.ttf.svg#Mulish') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

:root {
	--transparency: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill-opacity=".05"><rect width="50" height="50" /><rect x="50" y="50" width="50" height="50" /></svg>')
		0 0 / 20px 20px #f8f8f8;
}

body {
	box-sizing: border-box;
	/* height: 100vh; */
	margin: 0;
	padding: 0;
	background-color: yellow;
	font-family: 'Mulish', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
	background-color: green;
}
